body {
    color: white;
    background-color: #3A3743;
    height: 100vh;
    text-align: center;
    padding: 10px;
}
.playerChoice {
    padding: 10px;
    border-radius: 50%;
    background-color: #3A3743;
    border: 10px solid;
    width: 100px;
    height: 100px;
    font-size: 3.2rem;
    margin: 0 30px;
    transition: all 0.5s;
}

.playerChoice:hover {
    color: white;
    transform: scale(1.1);
    background-color: currentcolor;
}



.buttonRun {
    color: #3A3743;
    background-color: white;
    display: inline-block;
    padding: 13px;
    border-radius: 20%;
}
.buttonRun:hover {
    color: white;
    transform: scale(1.1);
    background-color: #3A3743;
    display: inline-block;
    padding: 13px;
    border-radius: 20%;
}

.linkButton {
    color: #3A3743;
    background-color: white;
    display: inline-block;
    border-radius: 20%;
}
.imageGame {
        width: 50%;
        height: auto;
}

div {
    margin: 5px auto;
    width: 60%;
    font-size: 1.2rem;
}

#rock {
    color: #ff8080;
}

#paper {
    color: #ffdd55;
}

#scissors {
    color: #e580ff;
}

#lizard {
    color: #87de87;
}

#spock {
    color: #80b3ff;
}