body {
    background: orange;
    height: 100vh;
    text-align: center;
    padding: 10px;
 }

.playerChoice {
    padding: 10px;
    border-radius: 50%;
    background-color: white;
    border: 10px solid;
    width: 100px;
    height: 100px;
    font-size: 3.2rem;
    margin: 0 30px;
    transition: all 0.5s;
}
.playerChoice:hover {
       transform: scale(1.1);
       background-color: currentcolor;
    }

#rock{
    color: red;
}

#paper{
    color: blue;
}
#scissors{
    color: green;
}
#lizard{
    color: yellow;
}
#spock{
    color: purple;
}
/* #rock {
    color: white;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}