body {
    color: white;
    background-color: #3A3743;
    height: 100vh;
    text-align: center;
    padding: 10px;
}

.playerChoice {
    padding: 10px;
    border-radius: 50%;
    background-color: #3A3743;
    border: 10px solid;
    width: 100px;
    height: 100px;
    font-size: 3.2rem;
    margin: 5px;
    transition: all 0.5s;
}

.playerChoice:hover {
    color: white;
    transform: scale(1.1);
    background-color: currentcolor;
}

.buttonRun {
    color: #3A3743;
    background-color: white;
    display: inline-block;
    padding: 13px;
    border-radius: 20%;
}

.buttonRun:hover {
    color: white;
    transform: scale(1.1);
    background-color: #3A3743;
    display: inline-block;
    padding: 13px;
    border-radius: 20%;
    /* margin: 5px; */
}

.linkButton {
    color: #3A3743;
    background-color: white;
    display: inline-block;
    border-radius: 20%;
    margin: 5px;
}

.imageGame {
    width: 25%;
    height: auto;
}

.headingList {
    color: white;
    list-style: none;
    display: inline-flex;
    font-size: 2em;
}
li {
    margin-left: 10px; 
}

#winner-alert{

}
.popup-alert{
    position: absolute;
    padding: 1.5em 2em;
    font-size: 1.25em;
    background: #333;
    color: white;
    border-radius: 9px;
    left: 3em;
    bottom: 3em;
}

#yellowIcon {
    color: #ffdd55;
}
#redIcon {
    color: #ff8080;
}

.player {
    color: #87de87;
    /* color: #FFAF6B; */
}

.robot {
    color: #ff8080;
}

#player {
    color: #87de87;
    /* color: #FFAF6B; */
}

#robot {
    color: #ff8080;
}

#difficultyColor {
    color: #9387C0;
}

#rock {
    color: #ff8080;
}

#paper {
    color: #ffdd55;
}

#scissors {
    color: #e580ff;
}

#lizard {
    color: #87de87;
}

/* #spock {
    color: #80b3ff;
} */
.spock {
    color: #80b3ff;
}

#rock i:hover,
#paper i:hover,
#scissors i:hover,
#lizard i:hover,
#spock i:hover {
    color: #333;
}

#rules-area {
    display: flex;
    flex: 2;
    justify-content: space-around;
}

.box-divider {
    border-style: solid;
    border-left: none;
    border-bottom: none;
    border-top: none;
    padding: 13px;
}

div.footer {
    left: 0;
    bottom: 0;
    height: 50px;
    width: 100%;
    background-color: #3A3743;
    text-align: center;
}

@media screen and (max-width: 700px) {
    .head-area {
        display: flex;
        flex: 1;
        justify-content: space-around;
    }

    .results-area {
        /* color: white; */
        /* list-style: none; */
        display: block;
        text-align: right;
        padding-left:5px;
        flex: 1;
        justify-content: space-around;
    }

    .container {
        display: flex;
        flex-direction: column;
    }

    #rules-area {
        display: flex;
        flex: 2;
        justify-content: space-around;
    }
    .headingList {
        color: white;
        list-style: none;
        display: block;
        text-align: left;
        padding-left:5px;
    }

}




/* #alertBox {
    position:relative;
    width:300px;
    min-height:100px;
    margin-top:50px;
    border:1px solid #666;
    background-color:pink;
    background-repeat:no-repeat;
    background-position:20px 30px;
} */

/* div {
    margin: 5px auto;
    width: 60%;
    font-size: 1.2rem;
} */