/* . = class */ 
*,*::before,*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h2, h3, p, a, span, li, div {
    font-family: Raleway;
    text-decoration: none;
}

body {
    background-color: var(--bodyBg);
}

:root {
    --green: #65ffa0;
    --red: #ff7171;
    --purple: #b26aee;
    --bodyBg: #1a1a1a;
}

/* .ft5 {
    font-family: Raleway;
    font-size: 2rem;
    display: inline-block;
} */

#container{
    padding: 10px;
    border-style: none;
    border-color: #3A3743;
    /* border-style: solid;
    border-color: pink; */
    margin: 0 20rem;
}

.main-box-divider > ul{
    padding: 1.25em 2em;
    border: 4px solid white;
}
.main-box-divider > ul > li {
    line-height: 1.5em;
    font-family: alata;
    letter-spacing: 0.5em;
    font-size: 1em;
}


div.scores-area {
    display: flex;
    justify-content: space-between;
    align-content: stretch;
    flex-wrap: nowrap;
    /* padding: 10px; */
    /* margin: auto; */
    align-items: center;
    /* flex-direction: row; */
}

hr {
    background-color: #3A3743;
    padding: 10px;
    border-style: none;
}


/* .headingList {
    margin-left: 10px;
    color: white;
    list-style: none;
    display: inline-flex;
    font-size: 2em;
} */
.headingList {
    color: white;
    list-style: none;
    display: block;
    text-align: left;
    padding-left: 5px;
    font-size: 2em;
    margin-top: 8rem;
    margin-bottom: 6rem;
    display: flex;
    justify-content: space-between;
}

.player-score {
    font-size: 3rem;
    display: block;
    font-family: Raleway;
    margin-top: .5rem;
    color: var(--green)
}
.player-score-2 {
    font-size: 3rem;
    display: block;
    font-family: Raleway;
    margin-top: .5rem;
    color: var(--red)
}

.playerChoice {
    padding: 10px;
    border-radius: 50%;
    background-color: var(--bodyBg);
    border: 10px solid;
    width: 100px;
    height: 100px;
    font-size: 3.2rem;
    margin: 5px;
    transition: all 0.5s;
    cursor: pointer;
}
.playerChoice:hover {
    background-color: var(--bodyBg);
    border: 10px solid var(--bodyBg);
}
.playerChoice:nth-child(1) i {
    color: #ff8080;
}
.playerChoice:nth-child(2) i {
    color: #ffdd55;
}
.playerChoice:nth-child(3) i {
    color: #e580ff;
}
.playerChoice:nth-child(4) i {
    color: #87de87;
}
.playerChoice:nth-child(5) i {
    color: #80b3ff;
}


/* game area */
.playerChoice:hover {
    color: white;
    transform: scale(1.1);
    /* background-color: currentcolor; */
}

/* info area */

.info-area {
    margin: 2rem 0;
}

.buttonRun {
    color: #333;
    background-color: none !important;
    /* background-color: currentColor; */
    display: inline-block;
}

button {
    background-color: transparent;
    border: none;
}

.buttonRun:hover {
   
}

.linkButton {
    color: #3A3743;
    /* background-color: white; */
    display: inline-block;
    border-radius: 20%;
    margin: 5px;
}

/* rules BODY */
.imageGame {
    width: 320px;
    height: auto;
}


/* POPUP alert box */
#winner-alert {
    background: var(--green);
    color: #3A3743;
}
#loser-alert {
    background: #e580ff;
    color: #3A3743;
}
#draw-alert {
    background: #ffdd55;
    color: #3A3743;
}
#champion-alert {
    background: #ffdd55;
    color: #3A3743;
    border-style: solid;
    border-color: white;
}
#tryAgain-alert {
    background:  #e580ff;
    color: #3A3743;
    border-style: solid;
    border-color: white;
}
/* need to make div centered */
.popup-alert {
    /* display: flex; */
    /* justify-content: space-around; */
    /* justify-content: center; */
    /* flex-wrap: wrap; */
    /* align-content: center; */
    padding: 1.5em 2em;
    font-size: 2em;
    /* background: white;
    color: #333; */
    border-radius: 9px;
    position: absolute; 
    left: 0;
    bottom: 40%;
    transform: translateX(-50%);
    margin-left: 50%;
    align-items: center;
}


/* trophy
#yellowIcon {
    color: #ffdd55;
}
award
#redIcon {
    color: #ff8080;
}
/* #castlePurple {
    color: #9387C0;
} */

.scores {
    font-family: raleway;
    margin: 1rem 0 .25rem;
}


/* scores area */
#player1Green {
    font-size: 4rem;
    color: var(--green);
}


.fa-robot {
    color: var(--red);
}

#difficultyColor {
    color: var(--purple);
}

#level {
    font-size: 2em;
    color: var(--purple);
    margin-top: 1rem;
    font-family: Raleway;
}

/* change # id to  . class */
/* color to icons */
/* game area */

#difficultyColorRule {
    font-size: 2em;
    color: #9387C0;
}

#difficultyExplain {
    font-size: 2em;
    color: #9387C0;
}

/* #rockRed i:hover,
#paperYellow i:hover,
#scissorsPink i:hover,
#lizardGreen i:hover,
#spockBlue i:hover {
    color: #333;
    cursor: pointer;
} */
/* #rockRed i:hover {
color: #ff8080;
}
#paperYellow i:hover {
color: #ffdd55;
}
#scissorsPink i:hover {
color: #e580ff;
}
#lizardGreen i:hover {
color: #87de87;
}
#spockBlue i:hover {
    color: #333;
    cursor: pointer;
    color: #80b3ff;
} */

.rules-area i{
    font-size: 2em;
}

#rockRed {
    color: #ff8080;
    /* font-size: 2em; */
}

#paperYellow {
    color: #ffdd55;
}

#scissorsPink {
    color: #e580ff;
}

#lizardGreen {
    color: #87de87;
}

#spockBlue {
    color: #80b3ff;
}

div.footer {
    padding: 5rem 0;
    text-align: center;
}

/* RULES rules area */
/* MAX DESCKTOP 1313 x 975 */
.rules-area {
    display: flex;
    /* flex: 2; */
    justify-content: space-evenly;
}

a {
    text-decoration: none;
}

.box-divider {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2em 3.5rem;
    /* margin: 5px; */
    /* border: 4px solid white; */
    position: relative;
    /* border-color: currentcolor; */
}
.box-divider-btn {
    display: flex;
    flex-direction: column;
    padding: 32px 56px;
    font-size: 1.25em;
    /* margin: 5px; */
    /* border: 4px solid white; */
    position: relative;
    font-family: Raleway;
    /* border-color: currentcolor; */
}
.box-divider i {
    font-size: 3.2rem;
}
.genRed {
    color: #ff8080;
    /* font-size: 2em; */
}

.controls-area {
    display: flex;
    justify-content: space-around;
}

.btn-action {
    /* background-color: white; */
    color: white;
    border: 3px solid white;
    padding: 1rem 2rem;
    background-color: var(--bodyBg);
    text-decoration: none !important;
    transition: color 250ms, background-color 250ms;
}
.btn-action:hover {
    color: var(--bodyBg);
    background-color: white;
    transition: color 250ms, background-color 250ms;
    cursor: pointer;
}

#difficulty {
    color: var(--purple);
    cursor: pointer;
}

.genPink {
    color: #e580ff;
}

.genGreen {
    color: #87de87;
}

.genBlue {
    color: #80b3ff;
}
/* @media screen and (max-width: 700px) { */
    /* .head-area {
        display: flex;
        flex: 1;
        justify-content: space-around;
    } */

    /* .results-area { */
        /* color: white; */
        /* list-style: none; */
        /* display: block;
        text-align: right;
        padding-left: 5px;
        flex: 1;
        justify-content: space-around;
    }

    .container {
        display: flex;
        flex-direction: column;
    }

    .rules-area {
        display: flex;
        justify-content: space-between;
    }

    .headingList {
        color: white;
        list-style: none;
        display: block;
        text-align: left;
        padding-left: 5px;
    } */

/* } */




/* #alertBox {
    position:relative;
    width:300px;
    min-height:100px;
    margin-top:50px;
    border:1px solid #666;
    background-color:pink;
    background-repeat:no-repeat;
    background-position:20px 30px;
} */

/* div {
    margin: 5px auto;
    width: 60%;
    font-size: 1.2rem;
}