/* . = class */ 
*,*::before,*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h2, h3, p, a, span, li, div {
    font-family: Raleway, sans-serif;
    text-decoration: none;
    list-style: none;
}

button {
    background-color: transparent;
    border: none;
}

body {
    background-color: var(--bodyBg);
}

:root {
    --blue: #80b3ff;
    --yellow: #ffdd55;
    --pink: #e580ff;
    --green: #65ffa0;
    --red: #ff7171;
    --purple: #b26aee;
    --bodyBg: #1a1a1a;
}

.main--container {
    margin: 5em auto;
    width: 1200px;
}

.main--title-container {
    margin-bottom: 8em;
}

.main--title-container > ul {
    display: flex;
    justify-content: space-between;
    padding: 1.25em 2em;
    border: 4px solid white;
}

.main--title-container > ul > li {
    line-height: 1.5em;
    font-family: alata;
    letter-spacing: 0.5em;
    font-size: 1.5em;
    color: white;
}

/* player scores and icons */
.main--players-and-scores-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5em;
}

.player-and-score-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2em 3.5em;
    align-items: center;
}

.player-and-score-container i {
    font-size: 4rem;
}

.player-and-score-container .fa-user-astronaut {
    color: var(--green);
}

.player-and-score-container .fa-robot {
    color: var(--red);
}

.difficulty {
    color: var(--purple);
    cursor: pointer;
    transition: all 250ms;
}
.difficulty:hover {
    color: white;
    transition: all 250ms;
}
.player-and-score-container 
.difficulty-text {
    font-size: 2em;
    color: var(--purple);
    margin-top: 1rem;
}

.score {
    font-size: 3em;
    margin-top: 0.5em;
}
.score.player-1 {
    color: var(--green)
}
.score.player-2 {
    color: var(--red)
}

/* main player controls container */
.main--player-controls-container {
    display: flex;
    justify-content: space-around;
    margin-bottom: 8em;
}

.player-control {
    border-radius: 50%;
    background-color: var(--bodyBg);
    border: 4px solid;
    width: 100px;
    height: 100px;
    font-size: 3.25em;
    transition: all 0.5s;
    cursor: pointer;
    position: relative;
}
.player-control:hover {
    background-color: var(--bodyBg);
    border: 4px solid var(--bodyBg);
}
.player-control:nth-child(1),
.player-control:nth-child(1) i {
    color: var(--red);
}
.player-control:nth-child(1)::after,
.player-control:nth-child(1)::before {
    content: '';
    color: var(--red);
    position: absolute;
    left: 0;
    top: -1.75em;
    margin-left: 50%;
    transform: translateX(-50%);
    font-size: 0.35em;
    opacity: 0;
    transition: all 250ms ease-in-out;
}
.player-control:nth-child(1):hover::after {
    content: 'Scissors';
    color: var(--red);
    position: absolute;
    left: 0;
    top: -1.75em;
    margin-left: 50%;
    transform: translateX(-50%);
    font-size: 0.35em;
    opacity: 1;
    transition: all 250ms ease-in-out;
}
.player-control:nth-child(1):hover::before {
    content: 'Lizard';
    color: var(--red);
    position: absolute;
    left: 0;
    top: -3em;
    margin-left: 50%;
    transform: translateX(-50%);
    font-size: 0.35em;
    opacity: 1;
    transition: all 250ms ease-in-out;
}
.player-control:nth-child(2),
.player-control:nth-child(2) i {
    color: var(--yellow);
}
.player-control:nth-child(2):hover::after {
    content: 'Rock';
    color: var(--yellow);
    position: absolute;
    left: 0;
    top: -1.75em;
    margin-left: 50%;
    transform: translateX(-50%);
    font-size: 0.35em;
    opacity: 1;
    transition: all 250ms ease-in-out;
}
.player-control:nth-child(2):hover::before {
    content: 'Spock';
    color: var(--yellow);
    position: absolute;
    left: 0;
    top: -3em;
    margin-left: 50%;
    transform: translateX(-50%);
    font-size: 0.35em;
    opacity: 1;
    transition: all 250ms ease-in-out;
}
.player-control:nth-child(3),
.player-control:nth-child(3) i {
    color: var(--pink);
}
.player-control:nth-child(3):hover::after {
    content: 'Paper';
    color: var(--pink);
    position: absolute;
    left: 0;
    top: -1.75em;
    margin-left: 50%;
    transform: translateX(-50%);
    font-size: 0.35em;
    opacity: 1;
    transition: all 250ms ease-in-out;
}
.player-control:nth-child(3):hover::before {
    content: 'Lizard';
    color: var(--pink);
    position: absolute;
    left: 0;
    top: -3em;
    margin-left: 50%;
    transform: translateX(-50%);
    font-size: 0.35em;
    opacity: 1;
    transition: all 250ms ease-in-out;
}
.player-control:nth-child(4),
.player-control:nth-child(4) i {
    color: var(--green);
}
.player-control:nth-child(4):hover::after {
    content: 'Spock';
    color: var(--green);
    position: absolute;
    left: 0;
    top: -1.75em;
    margin-left: 50%;
    transform: translateX(-50%);
    font-size: 0.35em;
    opacity: 1;
    transition: all 250ms ease-in-out;
}
.player-control:nth-child(4):hover::before {
    content: 'Paper';
    color: var(--green);
    position: absolute;
    left: 0;
    top: -3em;
    margin-left: 50%;
    transform: translateX(-50%);
    font-size: 0.35em;
    opacity: 1;
    transition: all 250ms ease-in-out;
}
.player-control:nth-child(5),
.player-control:nth-child(5) i {
    color: var(--blue);
}
.player-control:nth-child(5):hover::after {
    content: 'Rock';
    color: var(--blue);
    position: absolute;
    left: 0;
    top: -1.75em;
    margin-left: 50%;
    transform: translateX(-50%);
    font-size: 0.35em;
    opacity: 1;
    transition: all 250ms ease-in-out;
}
.player-control:nth-child(5):hover::before {
    content: 'Scissors';
    color: var(--blue);
    position: absolute;
    left: 0;
    top: -3em;
    margin-left: 50%;
    transform: translateX(-50%);
    font-size: 0.35em;
    opacity: 1;
    transition: all 250ms ease-in-out;
}


/* game area */
.player-control:hover{
    color: white;
    transform: scale(1.1);
}

/* game administration */
.main--game-admin-container {
    display: flex;
    justify-content: space-evenly
}

.admin-button {
    display: flex;
    flex-direction: column;
    font-size: 1.5em;
}

.admin-button a,
.admin-button span {
    color: white;
    border: 3px solid white;
    padding: 1rem 2rem;
    background-color: var(--bodyBg);
    transition: color 250ms, background-color 250ms;
}
.admin-button a:hover,
.admin-button span:hover {
    color: var(--bodyBg);
    background-color: white;
    transition: color 250ms, background-color 250ms;
    cursor: pointer;
}

/* rules player choice rule  */
.rules--player-choice-rule {
    padding: 0.75em 1em;
    line-height: 1.5em;
    font-size: 1em;
    letter-spacing: 0.3em;
    margin-bottom: -4em;
}
.rules--player-choice-rule.rock{
    color: var(--red);
}
.rules--player-choice-rule.paper{
    color: var(--yellow);
}
.rules--player-choice-rule.scissors{
    color: var(--pink);
}
.rules--player-choice-rule.lizard{
    color: var(--green);
}
.rules--player-choice-rule.spock{
    color: var(--blue);
}

.popup-alert {
    color: var(--bodyBg);
    font-size: 1.25em;
    padding: 0.5em 1em;
    border-radius: 9px;
    position: absolute;
    left: 0;
    margin-left: 50%;
    transform: translateX(-50%);
    top: 10.25em;
}
.win {
    background-color: var(--green);
}
.loss {
    background-color: var(--red);

}
.draw {
    background-color: var(--blue);

}
#champion-alert {
    background-color: var(--yellow);
    border: 3px solid white;
    border-radius: 1px;
}
#tryAgain-alert {
    background-color: var(--pink);
    border: 3px solid white;
    border-radius: 1px;
}